body {
    background-color: coral;
    color: teal;
}

#title {
    background-color: teal;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;

    font-family:'Courier New', monospace, sans-serif;
    font-weight: bold;
}

.header {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    font-size: 45px;
    font-style: italic;
}

hr {
    border-color: teal;
    height: 0px;
}

img {
    margin-left: 34%;
    width: 500px;
    height: 500;
}

.text {
    text-align: center;
    font-size: 25px;

    margin-left: 25%;
    margin-right: 25%;

    background-color: white;
    border-color: teal;
    color: teal;
    
}

ul {
    margin-left: 40%;
    margin-right: 40%;
    font-size: 25px;
    background-color: white;
}